@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

:root {
  --light-blue: #71b7e6;
  --dark-pink: #9b59b6;
  --main-linear-gradient: linear-gradient(
    135deg,
    var(--light-blue),
    var(--dark-pink)
  );
  --font-family: Poppins, Inter, sans-serif;
}
body {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 2em;
  padding: 0;
  margin: 0;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
}

.top-content {
  background-image: url("../images/background_home_2.jpg");
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background: var(--main-linear-gradient);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */

header {
  background: var(--main-linear-gradient);
  opacity: 0.9;
  color: #ffffff;
  padding: 15px;
  /* border-bottom: white 3px solid; */
}

li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: orangered;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#showcase {
  min-height: 40vh;
  background: transparent;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

#showcase h1 {
  margin-top: 100px;
  color: black;
  font-size: 55px;
  margin-bottom: 50px;
  line-height: 1em;
}

#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: var(--main-linear-gradient);
}

#newsletter .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#newsletter h1 {
  width: 60%;
  font-weight: 400;
}

#newsletter input {
  font-family: var(--font-family);
  padding: 4px;
  height: 25px;
  width: 250px;
  border-radius: 5px;
}

/* boxes*/

button {
  height: 38px;
  background: var(--main-linear-gradient);
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-family: var(--font-family);
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
button:active {
  scale: 0.95;
  filter: brightness(0.9);
}
#boxes {
  display: flex;
}

#boxes .box {
  text-align: left;
  width: 70%;
  padding: 10px;
}

#boxes h3 {
  font-size: 2rem;
}

#boxes p {
  font-size: 1.1rem;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background: var(--main-linear-gradient);
  text-align: center;
}

footer #contacts {
  display: flex;
  width: 80%;
  margin-inline: auto;
}

footer #contacts .contacts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-inline: auto;
}

footer #contacts .contacts-wrapper div {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

footer img {
  height: 30px;
  padding: 10px;
}
footer h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
footer h4 {
  font-weight: 500;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  #showcase h1 {
    margin-bottom: 20px;
  }
  #newsletter {
    padding-bottom: 40px;
  }

  #newsletter button,
  .quote button {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* Media Quaries */

/* @media(max-width: 768px){
    header #branding, header nav, header nav li, #boxes .box, article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    } */
